@import url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@2.2.2/patched-fonts/JetBrainsMono/complete/JetBrainsMono%20Nerd%20Font%20Complete.css');

body {
  font-family: 'JetBrainsMono Nerd Font', monospace;
}
